.img1{
  height: 100px;
}
.blog-post{
  background-color: #65C0BA;
  color: white;
}
.homepage{
  background-image: url("../images/slider-1.jpg.webp");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.cars{
  display: flex;
  justify-content: center;
  align-items: center;
padding-top: 300px;
}